@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 249, 243;
  /**
   * css for terra-design-system
   */
  --my-colors-primary: #4caf50;
  --my-colors-primary-hover: #43a047;
  --my-colors-primary-pressed: #388e3c;
  --my-colors-primary-500: #4caf50;
  --my-colors-primary-700: #43a047;
  --my-colors-primary-800: #388e3c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
